.coma {
    position: relative;
    right: 720px;
    width: 100px;
    height: 100px;
    top: 120px;
    transform: rotate(180deg);
}

.comas {
    position: relative;
    right: 820px;
    width: 100px;
    height: 100px;
    top: 120px;
}

.arrow {
    width: 20px;
    height: 20px;
    position: relative;
    top: 230px;
    right: 290px;
}