.cent {
    background-color: white;
    height: 1000px;
}

.para {
   position: relative;
   top: 500px;
   right: 240px;
}

.pic {
   bottom: 140px;
   position: relative;
   left: 330px;
}

.imager {
    background-color: white;
}