.second {
    height: 700px;
    background-color: #f3f7f9;
    width: 62rem;
}
.lag {
    background-color: #f3f7f9;
}

.image {
    /* left: 1000px; */
    height: 500px;
    bottom: 100px;
    top: 100px;
}

.input {
    position: relative;
    top: 200px;
    left: 100px;
}

.button {
    top: 200px;
    position: relative;
    width: 100px;
    height: 55px;
}

.yay {
    width: 20px;
    height: 20px;
    left: 800px;
    top: 350px;
    position: relative;
}